APP_NAME="Sourby"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
THEME=sourby-unix

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sourby_panel
DB_USERNAME=sourby
DB_PASSWORD=secret

MAIL_MAILER=log
MAIL_FROM_ADDRESS=admin@sourby.local

# Addons
SOURBY_BILLING_ENABLED=true
SOURBY_PLAYER_LIST_ENABLED=true
SOURBY_CUSTOM_SORT_ENABLED=true
